.root {
  width: 100%;
  max-width: 600px;
}

.button-container {
  display: flex;
  gap: var(--sl-spacing-x-small);
  flex-wrap: wrap;
}

@media (min-width: 900px) {
  .button-container {
    flex-wrap: nowrap;
  }
}

.full-width {
  width: 100%;
}

.label {
  font-size: var(--sl-input-label-font-size-small);
  margin-bottom: var(--sl-spacing-3x-small);
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sl-spacing-x-small);
}

.fieldset > * + * {
  margin-top: var(--sl-spacing-small);
}

.fieldset {
  padding: var(--sl-spacing-small);
  border: 1px solid var(--sl-color-neutral-200);
  border-radius: var(--sl-border-radius-small);
  border-top: 0;
}
