@import "./reset.css";
@import "@shoelace-style/shoelace/dist/themes/dark.css";

/* Top-level */
body {
  color: var(--sl-color-neutral-700);
  font-family: var(--sl-font-sans);
  background: var(--sl-color-neutral-50);
  min-height: 100vh;
}

main {
  padding: var(--sl-spacing-small);
  display: flex;
  flex-direction: column;
  align-items: center;
}
