/* @import "@shoelace-style/shoelace"; */
@import "./reset.css";
@import "@shoelace-style/shoelace/dist/themes/light.css";

/* Top-level */
body {
  color: var(--sl-color-neutral-700);
  font-family: var(--sl-font-sans);
  background: var(--sl-color-neutral-100);
  min-height: 100vh;
}

main {
  padding: var(--sl-spacing-large);
}

h1 {
  font-size: var(--sl-font-size-2x-large);
}
