.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--sl-spacing-medium);
}

.container {
  width: 100%;
  max-width: 600px;
}

.graphs {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sl-spacing-medium);
  width: 100%;
}

.graph,
.graph::part(body) {
  width: 100%;
}

.workbench-select:not(.is-empty)::part(combobox) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
