.graph-card,
.graph-card::part(body) {
  width: 100%;
  overflow: hidden;
}

.root {
  width: 100%;
  display: flex;
  gap: var(--sl-spacing-medium);
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .root {
    flex-direction: row;
    align-items: flex-start;
  }
}
