.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--sl-spacing-medium);
}

.graphs {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sl-spacing-medium);
  width: 100%;
}

.graph,
.graph::part(body) {
  width: 100%;
}
