.h1 {
  font-size: var(--sl-font-size-3x-large);
}

.h2 {
  font-size: var(--sl-font-size-2x-large);
}

.h3 {
  font-size: var(--sl-font-size-x-large);
}

.h4 {
  font-size: var(--sl-font-size-large);
}

.h5 {
  font-size: var(--sl-font-size-medium);
}

.h6 {
  font-size: var(--sl-font-size-small);
}